# By default, Compose reads two files, a docker-compose.yml and an
# optional docker-compose.override.yml file. By convention,
# the docker-compose.yml contains your base configuration. The
# override file, as its name implies, can contain configuration
# overrides for existing services or entirely new services.
# See https://docs.docker.com/compose/extends/
#
# Usage: copy this file, name it ".docker-compose.override.yml" and
# set your own values.

networks:
  amsterdam-bouwdossiers:
    name: amsterdam-bouwdossiers
    external: true

services:
  app:
    ports:
      - "8080:8000"		# allows to run app on different port on host
    user: 1001:1001		# set current user id so it has access to mounted volumes

  dev:
    networks:
      - amsterdam-bouwdossiers  # allows the dev app to connect to the metadata server locally
      - default
    ports:
      - "8080:8000"
    user: 1001:1001
