# Define all requirements, only pin when necessary (and if so, add a comment explaining why).
# See # https://git.datapunt.amsterdam.nl/Datapunt/python-best-practices/blob/master/dependency_management/

django
datapunt-authorization-django
sentry-sdk
django-cors-headers
pyjwt
sendgrid
django-ratelimit
six # Needed by jwcrypto, which mistakenly doesn't include it. PR with fix here: https://github.com/latchset/jwcrypto/pull/202
psycopg2-binary
python-swiftclient
datapunt-data-ingress
python-keystoneclient  # Although it is not directly imported anywhere, it is needed for the connection with the objectstore to work
setuptools  # Needed to solve Trivy security risk