Beste gebruiker van data.amsterdam.nl,
<br/><br/>
Via onderstaande link bent u direct ingelogd op data.amsterdam.nl om de
door u aangevraagde bouw- en omgevingsdossiers in te zien en te
downloaden. Deze link is 24 uur geldig.
<br/><br/>
<a href='{{ login_url }}'>Login dataportaal</a>
<br/><br/>
Mocht de bovenstaande link niet werken, dan kunt u de onderstaand url in uw webbrowser kopiëren.
<br/>
{{ login_url }}
<br/><br/>
Wij brengen nadrukkelijk onder uw aandacht dat er auteursrecht rust op de bouw- en constructietekeningen. Voor
het verdere gebruik van deze stukken heeft u toestemming nodig van degene bij wie dit auteursrecht
berust. Voor het verkrijgen van die toestemming bent u zelf verantwoordelijk. Indien u zelf
auteursrechthebbende bent en u zich niet kunt vinden in digitale beschikbaarstelling worden op uw verzoek
de bestanden verwijderd (zogeheten 'notice and take down beleid'). Meer informatie vindt u
op <a href='https://archief.amsterdam/bouwdossiers'>https://archief.amsterdam/bouwdossiers</a>
<br/><br/>
Met vriendelijke groet,
<br/><br/>
Gemeente Amsterdam
